.demo-inline-calendar-card {
  width: 50%;
  margin: 0 auto;
 }


.main-div {
  height: 100%;
  padding: 5%;
  background-color: #A6B592;
  background-image: url("../../assets/imagesProjekt/bg7.png");
  background-size: 50%;
}

.matcard-styling {
  height: 100%;
  width: 100%;
  background-color: transparent;
  margin: auto;
  text-align: center;
}

.matcard-styling2 {
  height: 100%;
  width: 80%;
  background-color: rgba(40, 49, 36, 0.8);
  margin: auto;
}


.tile-styling {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-styling {
  font-family: "Avenir Next" !important;
  font-weight: lighter;
  font-size: 30px;
  line-height: 35px;
  color: white;
}

.title-styling {
  padding-bottom: 5px;
  font-family: Impact !important;
  font-size: 55px;
  line-height: 55px;
  color: white;
}


.example {
  margin-bottom: 2%;
  font-size: 15px;
  line-height: 18px;
}
