body{
    font-family: Verdana;
}

.row div:nth-child(odd) {
    background-color: lightgray;
    color: black;
}
.row div:nth-child(even) {
    background-color: white;
    color: black;
}

div {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header {
    overflow: hidden;
    position: relative;
    padding-top: 50px;
}

h1 {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-link {
    color: #FF5F00 !important;
}

.nav {
    background-color: lightgray !important;
}

.color {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: whitesmoke;
    color: #0082D1 !important;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {
    background-color: palegreen !important;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: limegreen;
    color: white;
}

table {
    width: 80%;
    margin-left: 10%;
    box-shadow: 8px 8px 4px grey;
    margin-bottom: 10px;
}

.active {
    background-color: coral;
}

footer {
    background-color: coral;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}