
<carousel>
  <div class="carousel-cell" *ngFor="let card of cards">
    <mat-card>
      <mat-card-title>{{card.plant}}</mat-card-title>
      <mat-card-content>
        <button class="plant-button" [routerLink]="'/yourPlants/' + card._id + '/plan/'">❯❯❯</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="carousel-cell">
    <mat-card class="add-button" (click)="add()">
      <mat-icon class="add-icon">add</mat-icon>
    </mat-card>
  </div>

  <div class="carousel-cell">
    <mat-card class="shadow-card"></mat-card>
  </div>
  <div class="carousel-cell">
    <mat-card class="shadow-card"></mat-card>
  </div>
  <div class="carousel-cell">
    <mat-card class="shadow-card"></mat-card>
  </div>
  <div class="carousel-cell">
    <mat-card class="shadow-card"></mat-card>
  </div>
  <div class="carousel-cell">
    <mat-card class="shadow-card"></mat-card>
  </div>
</carousel>

  <div *ngIf="cards == null">
    <mat-card class="matcard-styling-dark">
      <mat-card-content>noch keine Pflanzen angelegt</mat-card-content>
    </mat-card>
  </div>



<!--

<div>
      <mat-card class="matcard-styling-with-hover">
        <mat-card-title class="title-styling">{{card1.plant}}</mat-card-title>
        <div>
            <span class="material-icons md-24 icon-styling content-hover">
              <mat-icon (click)="delete(card1._id)">cancel</mat-icon>
              <mat-icon [routerLink]="'/yourPlants/' + card1._id + '/plan/'">arrow_forward_ios</mat-icon>
            </span>
        </div>
        <mat-card-content class="content-hover">
          <span>Zuletzt aktualisiert am</span>
        </mat-card-content>
      </mat-card>

  <button style="position:absolute; top:45%;left:0;" (click)="plusDivs(-1)">❮</button>
  <button style="position:absolute; top:45%;right:0;" (click)="plusDivs(1)">❯</button>
</div>

<button mat-button class="add-button" (click)="plusDivs(1)" (click)="add()">ADD</button>
-->

<!--
<span>
  <mat-icon (click)="delete(card._id)">cancel</mat-icon>
</span>-->
