<div>
  <div class="scroll" >
    <div *ngFor="let card of cards">
      <div class="div">
        <mat-card class="matcard-styling-with-hover">
          <mat-card-title class="title-styling">{{card.plant}}</mat-card-title>
          <div>
            <span class="material-icons md-24 icon-styling content-hover">
              <mat-icon (click)="delete(card._id)">cancel</mat-icon>
              <mat-icon [routerLink]="'/yourPlants/' + card._id + '/plan/'">arrow_forward_ios</mat-icon>
            </span>
          </div>
          <mat-card-content class="content-hover">
            <span>Zuletzt aktualisiert am</span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div *ngIf="cards == null">
      <mat-card class="matcard-styling-dark">
        <mat-card-content>noch keine Pflanzen angelegt</mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-card class="matcard-styling">
    <button mat-button (click)="add()">ADD</button>
  </mat-card>
</div>
