
.main-div {
  height: 100%;
  padding: 5%;
  background-color: #A6B592;
  background-image: url("../../assets/imagesProjekt/bg7.png");
  background-size: 50%;
}

.matcard-styling {
  height: 70%;
  width: 80%;
  background-color: rgba(40, 49, 36, 0.8);
  margin: auto;
}


.img-styling {
  height: 70%;
  width: 85%;
  margin-bottom: 20%;
}

.gif-styling {
  margin-left: 40%;
  margin-top: -8%;
}

.tile-styling {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-styling {
  font-family: "Avenir Next" !important;
  font-weight: lighter;
  font-size: 30px;
  line-height: 35px;
  color: white;
}

.title-styling {
  padding-bottom: 5px;
  font-family: Impact !important;
  font-size: 55px;
  line-height: 55px;
  color: white;
}

.spacer {
  height: 5%;
}

mat-card:hover {
  height: 75%;
  width: 85%;
  display: block;
}

@media screen and (max-width: 900px) {
  .content-styling {
    font-size: 10px;
    line-height: 15px;
  }

  .title-styling {
    padding-bottom: 5px;
    font-size: 40px;
    line-height: 45px;
  }
}




