.main-div {
  height: 100%;
  padding: 5%;
  background-color: transparent;
}

.matcard-styling {
  height: 100%;
  width: 100%;
  background-color: transparent;
  margin: auto;
}


.matcard-styling2 {
  height: 100%;
  width: 80%;
  background-color: rgba(40, 49, 36, 0.8);
  margin: auto;
}


.tile-styling {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-styling {
  font-family: "Avenir Next" !important;
  font-weight: lighter;
  font-size: 30px;
  line-height: 35px;
  color: white;
}

.title-styling {
  padding-bottom: 5px;
  font-family: Impact !important;
  font-size: 55px;
  line-height: 55px;
  color: white;
  text-align: center;
}

.gif-styling {
  position: absolute;
  bottom: 30px;
  right: 10px;
}


@media screen and (min-width: 1270px) {
  .gif-styling {
    position: absolute;
    bottom: -80px;
    right: 10px;
  }
}
