<div class="main-div">
<mat-grid-list cols="2" rowHeight="100%">
  <mat-grid-tile class="tile-styling" [colspan]="1">
    <mat-card class="matcard-styling">
      <mat-card-title class="title-styling">DEINE PFLANZEN</mat-card-title>
      <mat-card-content class="content-styling">
        <app-card></app-card>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="tile-styling" [colspan]="1">
    <mat-card class="matcard-styling">
      <mat-card-title class="title-styling">WHAT TO DO</mat-card-title>
      <mat-card class="matcard-styling2">
        <mat-card-content class="content-styling">
          <span>Erstelle eine Karte und benenne sie nach der Pflanze, die du pflegen möchtest. Klicke auf die Karte, um deine Routine regelmäßig festzuhalten.</span>
          <img class="gif-styling" mat-card-image src="../../assets/imagesProjekt/plantGIF.webp">
        </mat-card-content>
      </mat-card>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
