<div class="grid-container">
  <div class="item1">
    <mat-card class="pflanzenarten-matcard">
      <div class="text">
      <mat-card-title>Areca Palme</mat-card-title>
      <mat-card-content>
        <p>Wir sind hier, um dir bei deiner Pflanzenpflege zu helfen. Mit uns kannst du deine Pflegeroutine tracken und dir Informationen zu deiner Pflanze anschauen.</p>
      </mat-card-content>
      </div>
      <img class="pflanzenarten-img" mat-card-image src="https://images.unsplash.com/photo-1594380026562-f12cdf564834?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTIzfHxwbGFudHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=900&q=60" alt="Photo of a Plant">
    </mat-card>
  </div>

  <div class="item2">
    <mat-card class="pflanzenarten-matcard">
      <div class="text">
        <mat-card-title>Efeutute</mat-card-title>
        <mat-card-content>
          <p>Wir sind hier, um dir bei deiner Pflanzenpflege zu helfen. Mit uns kannst du deine Pflegeroutine tracken und dir Informationen zu deiner Pflanze anschauen.</p>
        </mat-card-content>
        </div>
        <img class="pflanzenarten-img" mat-card-image src="https://images.unsplash.com/photo-1590951013474-404156850a06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTY4fHxwbGFudHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=900&q=60" alt="Photo of a Plant">
    </mat-card>
  </div>

  <div class="item3">
    <mat-card class="pflanzenarten-matcard">
      <div class="text">
        <mat-card-title>Monstera</mat-card-title>
        <mat-card-content>
          <p>Wir sind hier, um dir bei deiner Pflanzenpflege zu helfen. Mit uns kannst du deine Pflegeroutine tracken und dir Informationen zu deiner Pflanze anschauen.</p>
        </mat-card-content>
      </div>
      <img class="pflanzenarten-img" mat-card-image src="https://images.unsplash.com/photo-1604512232589-b7640441ed1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bW9uc3RlcmF8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Photo of a Plant">
    </mat-card>
  </div>
</div>
