<div class="grid-container">
  <div class="item1">
    <mat-card class="pflanzenarten-matcard">
      <div class="text">
      <mat-card-title>Areca Palme</mat-card-title>
      <mat-card-content>
        <p>Wir sind hier, um dir bei deiner Pflanzenpflege zu helfen. Mit uns kannst du deine Pflegeroutine tracken und dir Informationen zu deiner Pflanze anschauen.</p>
      </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="item2">
    <mat-card class="pflanzenarten-matcard">
      <div class="text">
        <mat-card-title>Efeutute</mat-card-title>
        <mat-card-content>
          <p>Wir sind hier, um dir bei deiner Pflanzenpflege zu helfen. Mit uns kannst du deine Pflegeroutine tracken und dir Informationen zu deiner Pflanze anschauen.</p>
        </mat-card-content>
        </div>
    </mat-card>
  </div>

  <div class="item3">
    <mat-card class="pflanzenarten-matcard">
      <div class="text">
        <mat-card-title>Monstera</mat-card-title>
        <mat-card-content>
          <p>Wir sind hier, um dir bei deiner Pflanzenpflege zu helfen. Mit uns kannst du deine Pflegeroutine tracken und dir Informationen zu deiner Pflanze anschauen.</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
