body {
    font-family: "Apple Symbols";
}

header {
    background-color: forestgreen;
    padding: 2px;
    text-align: center;
    color: white;
}

.grid {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
    justify-content: space-evenly;
}

.grid-item {
    box-shadow: 0px 0px 8px;
    width: 200px;
    height: 200px;
    padding-top: 50px;
    text-align: center;
    background-color: darkseagreen;
    border-radius: 4px;
}


.bild{
    display: block;
    max-width:250px;
    max-height:115px;
    width: auto;
    height: auto;
    margin: auto;
}

h3 {
    padding-top: 20px;
    color: white;
}


footer {
    background-color: forestgreen;
    padding: 2px;
    text-align: center;
    color: white;
}

a {
    color: white;
    font-size: x-large;
}